/*FireFlyCSS*/
.sidebar-title {
	font-size: large;
	padding-left: 0.25rem;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	color: #FF9800;
}
.bg\:hwb\(108_39\%_29\%\/0\.5\) {
	background-color: hwb(108 39% 29%/0.5);
}
.bg\:red {
	background-color: #f44336;
}
[bg~=blue] {
	background-color: #2196F3;
}
.bg\:red-100 {
	background-color: #ffcdd2;
}
